@tailwind base;
@tailwind utilities;
@tailwind components;

/* width */
::-webkit-scrollbar {
  width: 10px;
  /* border-radius: 15px !important; */
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(255, 255, 255, 0.2);
  border-radius: 15px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(112, 54, 247);
  border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(112, 54, 247, 0.7);
  cursor: pointer;
}
